@model _2301B2TempEmbedding.Models.Item

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="@Html.DisplayFor(model => model.Pimage)">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-5 mb-4">
                    @Html.DisplayFor(model => model.Name)
                </h1>
                <p class="mb-4"> @Html.DisplayFor(model => model.Description)</p>
                <p><i class="fa fa-check text-primary me-3"></i>Rs. @Html.DisplayFor(model => model.Price) Only</p>
                <p><i class="fa fa-check text-primary me-3"></i> @Html.DisplayFor(model => model.CatId)</p>
                 <form asp-action="AddToCart">
                     <input type="hidden" name="pid" value="@Model.Id" />
                     <label>Enter Qty in KGs</label>
                     <input type="number" name="qty" value="1" min="1" max="10" />
                    <button type="submit" class="btn btn-primary rounded-pill py-3 px-5 mt-3" >Add to Cart</button>
                 </form>
               
            </div>
        </div>
    </div>
</div>
<!-- About End -->

